@import './colors';

.clickable {
    user-select: none;
    cursor: pointer;
}

.non-clickable {
    cursor: default;
}

.clickable-label {
    .clickable;
    font-weight: 500;
    text-transform: uppercase;
}

.deip-label {
    .clickable-label;
    padding: 2px 3px;
    border-radius: 2px;
    color: var(--v-primary-base);

    &:hover, &.selected {
        background-color: var(--v-secondary-base);
    }
}


.a {
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}


.info-card-list {
    .list-line {
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .list-header-cell {
        padding-right: 12px;
        padding-left: 12px;
        color: @grey; 
    }
    .list-body-cell {
        padding-right: 12px;
        padding-left: 12px;
        align-self: center;
    }
}

.hidden-last-child>:last-child {
    display: none;
}

.deip-emblem {
    display: inline-block;
    user-select: none;

    .emblem-logo {
        text-transform: uppercase;
        font-family: 'Aldrich', sans-serif;
        font-size: 40px;
        line-height: 40px;
    }
    .emblem-caption {
        line-height: 16px;
        font-size: 14px;
        text-transform: uppercase;
        // letter-spacing: 0.014em;
    }
}

.grey-elevation {
  background-color: @grey-lighten-3;
}
