.deip-base-editor {

    height: 500px;

    .sc-split-pane.sm-horizontal {
        height: 500px;
        overflow: auto;
    }

    .se-tool.sc-insert-image-tool {
        display: none !important;
    }

    .sc-subscript {
        bottom: -0.25em;
    }

    .sc-superscript {
        top: -0.5em;
    }

    .sc-subscript, .sc-superscript {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    @import (less) '~font-awesome/css/font-awesome.min.css';
    /* styles shared by all examples */
    @import (less) '~substance/substance.css';
    @import (less) '~substance/substance-reset.css';
    @import (less) '~substance/substance-pagestyle.css';
}