$toolbar-content-padding-x: 24px;
$toolbar-title-padding: 12px;


$btn-sizes: (
  'x-small': 24,
  'small': 32,
  'default': 40,
  'large': 48,
  'x-large': 56
);


$list-item-dense-title-font-size: 0.875rem
