@use 'sass:map';
@use '~vuetify/src/styles/tools/functions' as *;
@use 'next/core/typography';

$shades: (
  'black': #1A1B22,
);

$material-light: (
  'app-bar': #fff,
);

// button
$btn-sizes: (
  x-small: 24,
  small: 36,
  default: 48,
  large: 56,
  x-large: 64
);

$btn-font-sizes: (
  //x-small: 0.75rem,
  small: 0.875rem,
  default: 1rem,
  large: 1rem,
  x-large: 1.125rem
);

$btn-text-transform: none;

// fields

$label-font-size: 0.875rem;
$input-font-size: 0.875rem;
$label-line-height: 1.25rem;

$text-field-filled-full-width-outlined-slot-min-height: 48px;
$text-field-enclosed-prepend-append-margin-top: 12px;
$text-field-outlined-label-position-x: 14px;
$text-field-outlined-label-position-y: -22px;
//$text-field-outlined-full-width-outlined-slot-min-height: 3rem;
//$text-field-outlined-margin-top: 16px;
//$text-field-outlined-label-position-x: 14px;
//$text-field-enclosed-prepend-append-margin-top: 13px;

//

$toolbar-content-padding-x: 24px;
$toolbar-title-padding: 12px;

$list-item-dense-title-font-size: 0.875rem;
$tabs-item-padding: 0 24px;

$card-subtitle-padding: 1.5rem;

$text-field-details-margin-bottom: 0;
$input-slot-margin-bottom: 4px;
//$text-field-details-min-height: 14px
$messages-line-height: 14px;
$textarea-line-height: 1.5rem;

$app-bar-elevation: 0;
$toolbar-elevation: 0;


// typography

$headings: (
  h1: (
    size: map-deep-get(typography.$styles, h1, xs, font-size),
    weight: map-deep-get(typography.$styles, h1, xs, font-weight),
    line-height: map-deep-get(typography.$styles, h1, xs, line-height),
  ),
  h2: (
    size: map-deep-get(typography.$styles, h2, xs, font-size),
    weight: map-deep-get(typography.$styles, h2, xs, font-weight),
    line-height: map-deep-get(typography.$styles, h2, xs, line-height),
  ),
  h3: (
    size: map-deep-get(typography.$styles, h3, xs, font-size),
    weight: map-deep-get(typography.$styles, h3, xs, font-weight),
    line-height: map-deep-get(typography.$styles, h3, xs, line-height),
  ),
  h4: (
    size: map-deep-get(typography.$styles, h4, xs, font-size),
    weight: map-deep-get(typography.$styles, h4, xs, font-weight),
    line-height: map-deep-get(typography.$styles, h4, xs, line-height),
  ),
  h5: (
    size: map-deep-get(typography.$styles, h5, xs, font-size),
    weight: map-deep-get(typography.$styles, h5, xs, font-weight),
    line-height: map-deep-get(typography.$styles, h5, xs, line-height),
  ),
  h6: (
    size: map-deep-get(typography.$styles, h6, xs, font-size),
    weight: map-deep-get(typography.$styles, h6, xs, font-weight),
    line-height: map-deep-get(typography.$styles, h6, xs, line-height),
  ),
  button: (
    text-transform: false
  ),
  caption: (
    size: map-deep-get(typography.$styles, caption, xs, font-size),
    weight: map-deep-get(typography.$styles, caption, xs, font-weight),
    line-height: map-deep-get(typography.$styles, caption, xs, line-height),
  ),
  overline: (
    size: map-deep-get(typography.$styles, overline, xs, font-size),
    weight: map-deep-get(typography.$styles, overline, xs, font-weight),
    line-height: map-deep-get(typography.$styles, overline, xs, line-height),
  )
);
