$toolbar-content-padding-x: 24px;
$toolbar-title-padding: 12px;

$btn-sizes: (
  'x-small': 24,
  'small': 32,
  'default': 40,
  'large': 48,
  'x-large': 56
);

$list-item-dense-title-font-size: 0.875rem;
$tabs-item-padding: 0 24px;

$card-subtitle-padding: 1.5rem;

$text-field-details-margin-bottom: 0;
$input-slot-margin-bottom: 4px;
//$text-field-details-min-height: 14px
$messages-line-height: 14px;
$textarea-line-height: 1.5rem;

$text-field-filled-border-radius: 4px;

$app-bar-elevation: 0;
$toolbar-elevation: 0;
