@use 'core/typography';
@use 'tools/get-text-style' as *;

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.text-decoration-underline-dotted {
  border-bottom: 1px dotted currentColor;
}

.v-application {
  .text {
    @each $type, $styles in typography.$styles {
      &-#{$type} {
        margin: 0;

        @include get-text-style($type, true);
      }
    }
  }
}
