.v-main {
  transition: none !important;
}

.v-app-bar {
  &--light.theme--light.v-toolbar.v-sheet {
    background-color: white;

    border-bottom: 1px solid rgba(#000, .12);
  }
}

.v-icon {
  .v-btn.v-size--small & {
    font-size: 20px;
  }
}

.col {
  min-width: 0;
}

.row {
  margin-top: -12px;
  margin-bottom: -12px;

  &.no-gutters {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.v-text-field--outlined {
  &:not(.v-input--dense) {
    .v-label {
      font-size: 16px;
      transform: scale(.875);

      &.v-label--active {
        transform: translateY(-22px) scale(.75);
      }
    }
  }

}

//
//.v-text-field--outlined .v-label--active {
//  transform: translateY(-26px) scale(.857142857)
//}

// new way customise

.v-data-table {
  &--hover-row {
    tbody tr:hover {
      cursor: pointer;
    }
  }
}

.v-btn.v-btn--icon.v-size--default {
  width: 40px;
  height: 40px;
}

.v-input--checkbox {
  .v-label {
    &.theme--light {
      color: rgba(#000, .87); // temp
    }
  }
}

.v-toolbar {
  &--header {
    .v-toolbar__content {
      min-height: 300px;
      padding: 48px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  ;

    .v-toolbar__extension {
      padding: 0 48px;
    }
  }
}

.v-divider {
  &.dotted {
    border: 0;
    height: 1px;
    max-height: 1px;
    background-image: linear-gradient(to right, rgba(#1a1b22, .6) 33%, transparent 0%);
    background-size: 3px 1px;
    background-repeat: repeat-x;
  }
}
