.v-application {
  .reset-height {
    min-height: 0 !important;
    height: auto !important;
  }
  .reset-width {
    min-width: 0 !important;
    width: auto !important;
  }
}

.v-main {
  transition: none !important;
}

.v-app-bar {
  &.v-sheet--outlined {
    border-width: 0 0 1px 0;
  }
}

.v-icon {
  .v-btn.v-size--small & {
    font-size: 20px;
  }
}

.col {
  min-width: 0;

  &-md-wide {
    flex: 1;
  }
}

.row {
  margin-top: -12px;
  margin-bottom: -12px;

  &.no-gutters {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.v-text-field--outlined {
  &:not(.v-input--dense) {
    .v-label {
      font-size: 16px;
      transform: scale(.875);

      &.v-label--active {
        transform: translateY(-22px) scale(.75);
      }
    }
  }

}

//
//.v-text-field--outlined .v-label--active {
//  transform: translateY(-26px) scale(.857142857)
//}

// new way customise

.v-data-table {
  $this: &;
  &--hover-row {
    tbody tr:hover {
      cursor: pointer;
    }
  }

  & tbody &__expanded__content {
    box-shadow: none !important;
  }
}

.v-btn.v-btn--icon.v-size--default {
  width: 40px;
  height: 40px;
}

.v-input--checkbox {
  .v-label {
    &.theme--light {
      color: rgba(#000, .87); // temp
    }
  }
}

.v-toolbar {
  &--header {
    .v-toolbar__content {
      min-height: 300px;
      padding: 48px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  ;

    .v-toolbar__extension {
      padding: 0 48px;
    }
  }
}

.v-divider {
  &.dotted {
    border-style: dotted;
  }
  &.dashed {
    border-style: dashed;
  }
}

.v-sheet--outlined {
  &.dotted {
    border-style: dotted;
  }
  &.dashed {
    border-style: dashed;
  }
}
