themeName = 'md'
activeColor = var(--v-primary-base)
borderColor = var(--color-divider)
backgroundColor = #fff
inactiveColor = var(--color-text-disabled)
shadowColor = #ddd
textColor = var(--color-text-primary)

@import "~quill/assets/core"
@import '~quill/assets/base'
